<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.esycab"
    android:versionCode="3"
    android:versionName="3.6.7" >

    <uses-sdk android:minSdkVersion="14" />
    <!-- =================================极光推送===================== -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" >
    </uses-permission>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" >
    </uses-permission>
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />

    <permission
        android:name="com.example.esycab.permission.JPUSH_MESSAGE"
        android:protectionLevel="signature" />

    <!-- Required  一些系统要求的权限，如访问网络等 -->
    <uses-permission android:name="com.example.esycab.permission.JPUSH_MESSAGE" />
    <uses-permission android:name="android.permission.RECEIVE_USER_PRESENT" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />

    <!-- Optional for location -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />

    <!-- =================================极光推送===================== -->
    <!-- ============================================= -->
    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.MANAGE_ACCOUNTS" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <!-- 蓝牙分享所需的权限 -->
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <!-- ===================================百度地圖權限開始============================================== -->

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCES_MOCK_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="com.android.launcher.permission.READ_SETTINGS" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.ACCESS_GPS" />
    <!-- SDK1.5需要android.permission.GET_TASKS权限判断本程序是否为当前运行的应用? -->
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.BROADCAST_STICKY" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <!-- 来电消音 -->
    <uses-permission android:name="android.permission.PROCESS_OUTGOING_CALLS" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />

    <!-- 这个权限用于进行网络定位 -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" >
    </uses-permission>
    <!-- 这个权限用于访问GPS定位 -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" >
    </uses-permission>
    <!-- 用于访问wifi网络信息，wifi信息会用于进行网络定位 -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" >
    </uses-permission>
    <!-- 获取运营商信息，用于支持提供运营商信息相关的接口 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" >
    </uses-permission>
    <!-- 这个权限用于获取wifi的获取权限，wifi信息会用来进行网络定位 -->
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" >
    </uses-permission>
    <!-- 用于读取手机当前的状态 -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" >
    </uses-permission>
    <!-- 写入扩展存储，向扩展卡写入数据，用于写入离线定位数据 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" >
    </uses-permission>
    <!-- 访问网络，网络定位需要上网 -->
    <uses-permission android:name="android.permission.INTERNET" />
    <!-- SD卡读取权限，用户写入离线定位数据 -->
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" >
    </uses-permission>
    <uses-permission android:name="android.permission.BAIDU_LOCATION_SERVICE" />
    <!-- ===================================百度地圖權限结束============================================== -->

    <uses-permission android:name="android.permission.KILL_BACKGROUND_PROCESSES" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.READ_SMS" />
    <uses-permission android:name="android.permission.WRITE_SMS" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS" />
    <uses-permission android:name="android.permission.ACCESS_MOCK_LOCATION" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.FLASHLIGHT" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <!-- 电话权限 -->
    <uses-permission android:name="android.permission.CALL_PHONE" />

    <application
        android:name="com.example.amap.navi.LocationApplication"
        android:allowBackup="true"
        android:anyDensity="true"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:theme="@android:style/Theme.Light.NoTitleBar" >

        <!-- =================================极光推送start===================== -->
        <service
            android:name="cn.jpush.android.service.PushService"
            android:enabled="true"
            android:exported="false" >
            <intent-filter>
                <action android:name="cn.jpush.android.intent.REGISTER" />
                <action android:name="cn.jpush.android.intent.REPORT" />
                <action android:name="cn.jpush.android.intent.PushService" />
                <action android:name="cn.jpush.android.intent.PUSH_TIME" />
            </intent-filter>
        </service>
        <service
            android:name="cn.jpush.android.service.DaemonService"
            android:enabled="true"
            android:exported="true" >
            <intent-filter>
                <action android:name="cn.jpush.android.intent.DaemonService" />

                <category android:name="com.example.esycab" />
            </intent-filter>
        </service>

        <receiver
            android:name="cn.jpush.android.service.PushReceiver"
            android:enabled="true" >
            <intent-filter android:priority="1000" >
                <action android:name="cn.jpush.android.intent.NOTIFICATION_RECEIVED_PROXY" />

                <category android:name="com.example.esycab" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.USER_PRESENT" />
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
            <!-- Optional -->
            <intent-filter>
                <action android:name="android.intent.action.PACKAGE_ADDED" />
                <action android:name="android.intent.action.PACKAGE_REMOVED" />

                <data android:scheme="package" />
            </intent-filter>
        </receiver>

        <activity
            android:name="cn.jpush.android.ui.PushActivity"
            android:configChanges="orientation|keyboardHidden"
            android:exported="false" >
            <intent-filter>
                <action android:name="cn.jpush.android.ui.PushActivity" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="com.example.esycab" />
            </intent-filter>
        </activity>
        <!-- Required SDK核心功能 -->
        <service
            android:name="cn.jpush.android.service.DownloadService"
            android:enabled="true"
            android:exported="false" >
        </service>
        <!-- Required SDK核心功能 -->
        <receiver android:name="cn.jpush.android.service.AlarmReceiver" />

        <meta-data
            android:name="JPUSH_APPKEY"
            android:value="97b56c7189bba3f28c66519e" />
        <!-- =================================极光推送over===================== -->
        <service android:name="com.amap.api.location.APSService" >
        </service>

        <meta-data
            android:name="com.amap.api.v2.apikey"
            android:value="19480fd4048dd91ffaece27bf8e84cea" />
        <!-- 19480fd4048dd91ffaece27bf8e84cea上传 -->
        <!-- 96188c012b0eb75b1ce3010bb52229cc本地 -->
        <!-- ec9477fe62ecb6a9f656eb297609582f本地百旗 -->
        <!-- 43a0f06871a565c9ee8cfd8da969ea74本地主管 -->
        <!-- ============ =================== -->
        <activity
            android:name="com.mob.tools.MobUIShell"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            android:windowSoftInputMode="stateHidden|adjustResize" >
            <intent-filter>
                <data android:scheme="tencent100371282" />

                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.BROWSABLE" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>

            <!-- 调用新浪原生SDK，需要注册的回调activity -->
            <intent-filter>
                <action android:name="com.sina.weibo.sdk.action.ACTION_SDK_REQ_ACTIVITY" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.esycab.WoDeQingTieAllActivity"
            android:label="@string/title_activity_wo_de_qing_tie_all" >
        </activity>
        <!-- 微信分享回调 -->
        <activity
            android:name="com.example.esycab.wxapi.WXEntryActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />

        <!-- 易信分享回调 -->
        <activity
            android:name="cn.sharesdk.demo.wxapi.YXEntryActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />

        <!-- 支付宝分享回调 -->
        <activity
            android:name="cn.sharesdk.demo.wxapi.apshare.ShareEntryActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:exported="true"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <activity
            android:name="com.example.esycab.StartActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Anim_style2" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <!-- 图片展示 -->
        <activity
            android:name="com.example.esycab.HunCheZhanShi"
            android:label="@string/title_activity_wo_de_zhi_fu" >
        </activity>
        <!-- 图片展示 -->
        <activity android:name="com.example.amap.navi.BaseActivity" >
        </activity>
        <activity android:name="com.example.amap.navi.GPSNaviActivity" >
        </activity>
        <!-- 图片展示 -->
        <activity android:name="com.example.esycab.GaodeMapActivity" >
        </activity>

        <!-- 抽奖首页 -->
        <activity
            android:name="com.example.esycab.ChouJiangShouYe"
            android:label="@string/title_activity_hun_che__hun_che_zhuang_shi" >
        </activity>
        <!-- 厨师加盟上传 -->
        <activity
            android:name="com.example.esycab.ChuShiJiaMeng"
            android:label="@string/title_activity_hun_che__hun_che_zhuang_shi" >
        </activity>
        <!-- //wo de ping jia -->

        <activity
            android:name="com.example.esycab.WoDePingJia"
            android:label="@string/title_activity_hun_che__hun_che_zhuang_shi" >
        </activity>
        <!-- 公司加盟 -->
        <activity
            android:name="com.example.esycab.JoinInGongSi"
            android:label="@string/title_activity_hun_che__hun_che_zhuang_shi" >
        </activity>
        <activity
            android:name="com.alipay.sdk.app.H5PayActivity"
            android:configChanges="orientation|keyboardHidden|navigation"
            android:exported="false"
            android:screenOrientation="behind" >
        </activity>
        <!-- wo de din dan xiang qing -->
        <activity
            android:name="com.example.esycab.WoDeDingDanXQ"
            android:label="@string/title_activity_hun_che__hun_che_zhuang_shi" >
        </activity>
        <!-- 餐具套餐 -->
        <activity
            android:name="com.example.esycab.CanJu_SetActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustUnspecified|stateHidden" />
        <activity
            android:name="com.example.esycab.MyHallsActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustUnspecified|stateHidden" />
        <activity
            android:name="com.example.esycab.MyHallSchList"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustUnspecified|stateHidden" />
        <activity
            android:name="com.example.esycab.MyCookSchList"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustUnspecified|stateHidden" />
        <activity
            android:name="com.example.esycab.MyCooksActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustUnspecified|stateHidden" />
        <activity
            android:name="com.example.esycab.ViewPagerDemo"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustUnspecified|stateHidden" />

        <!-- 婚车 -->
        <activity
            android:name="com.example.esycab.HunChe"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustUnspecified|stateHidden" />
        <!-- 车型 -->
        <activity
            android:name="com.example.esycab.CheXing"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustUnspecified|stateHidden" />
        <!-- hunqing   yule -->
        <activity
            android:name="com.example.esycab.HunQing_YuLe"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustUnspecified|stateHidden" />
        <!-- hunqing  moban -->
        <activity
            android:name="com.example.esycab.HunQing_MoBan"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustUnspecified|stateHidden" />
        <!-- hunqing cuxiao -->
        <activity
            android:name="com.example.esycab.HunQing_CuXiao"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustUnspecified|stateHidden" />
        <!-- 启动 -->
        <activity
            android:name="com.example.esycab.MainActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustUnspecified|stateHidden" />
        <activity
            android:name="com.example.esycab.AndyViewPagerActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustUnspecified|stateHidden" />
        <!-- 忘记密码 -->
        <activity
            android:name="com.example.esycab.FindPassActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustUnspecified|stateHidden" />
        <!-- 婚庆公司 -->
        <activity
            android:name="com.example.esycab.GeWu_YanYiActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustUnspecified|stateHidden" />
        <!-- 婚庆公司 -->
        <activity
            android:name="com.example.esycab.HunQing"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustUnspecified|stateHidden" />
        <!-- 抽奖验证 -->
        <activity
            android:name="com.example.esycab.ChouJiangYanZheng"
            android:label="@string/title_activity_gen_xing" >
        </activity>
        <!-- 抽奖 -->
        <activity
            android:name="com.example.esycab.ChouJiang"
            android:label="@string/title_activity_gen_xing" >
        </activity>
        <!-- 恭喜中奖 -->
        <activity
            android:name="com.example.esycab.winner"
            android:label="@string/title_activity_gen_xing" >
        </activity>
        <!-- chushi xieyi -->
        <activity
            android:name="com.example.esycab.XieYi"
            android:label="@string/title_activity_gen_xing" >
        </activity>
        <!-- 注册 -->
        <activity
            android:name="com.example.esycab.RegisterActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustUnspecified|stateHidden" />
        <!-- 主套餐菜 -->
        <activity
            android:name="com.example.esycab.ZhuTaoCanCai"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustUnspecified|stateHidden" />
        <!-- 副套餐菜 -->
        <activity
            android:name="com.example.esycab.FuTaoCanCai"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustUnspecified|stateHidden" />
        <!-- 主界面 -->
        <activity
            android:name="com.example.esycab.HomeActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustUnspecified|stateHidden" />

        <!-- 喜宴 -->
        <activity
            android:name="com.example.esycab.FeastSetActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar"
            android:windowSoftInputMode="adjustUnspecified|stateHidden" />
        <!-- 喜宴 套餐 -->
        <activity
            android:name="com.example.esycab.XiYan"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar"
            android:windowSoftInputMode="adjustUnspecified|stateHidden" />

        <!-- 厨师 -->
        <activity
            android:name="com.example.esycab.CookActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar"
            android:windowSoftInputMode="adjustUnspecified|stateHidden" />

        <!-- 预定 -->
        <activity
            android:name="com.example.esycab.ReserveActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar"
            android:windowSoftInputMode="adjustUnspecified|stateHidden" />
        <!-- 预定成工 -->
        <activity
            android:name="com.example.esycab.ReserveWinActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar"
            android:windowSoftInputMode="adjustUnspecified|stateHidden" />
        <!-- 评价 -->
        <activity
            android:name="com.example.esycab.EvaluationActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar"
            android:windowSoftInputMode="adjustUnspecified|stateHidden" />
        <!-- 喜事堂 -->
        <activity
            android:name="com.example.esycab.WeddinghallActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar"
            android:windowSoftInputMode="adjustUnspecified|stateHidden" >
        </activity>

        <!-- 婚庆 -->
        <activity
            android:name="com.example.esycab.WeddingActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar"
            android:windowSoftInputMode="adjustUnspecified|stateHidden" >
        </activity>
        <!-- 婚庆司仪 -->
        <activity
            android:name="com.example.esycab.WeddingEmceeActivitiy"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar"
            android:windowSoftInputMode="adjustUnspecified|stateHidden" >
        </activity>
        <!-- 婚庆化妆师 -->
        <activity
            android:name="com.example.esycab.WeddingMakeupActivitiy"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar"
            android:windowSoftInputMode="adjustUnspecified|stateHidden" >
        </activity>
        <!-- 婚庆摄影师 -->
        <activity
            android:name="com.example.esycab.WeddingPhotographyActivitiy"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar"
            android:windowSoftInputMode="adjustUnspecified|stateHidden" >
        </activity>
        <!-- 婚庆摄像师 -->
        <activity
            android:name="com.example.esycab.WeddingCamerasActivitiy"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar"
            android:windowSoftInputMode="adjustUnspecified|stateHidden" >
        </activity>
        <!-- 案列 -->
        <activity
            android:name="com.example.esycab.CaseActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar"
            android:windowSoftInputMode="adjustUnspecified|stateHidden" >
        </activity>
        <!-- 加盟 -->
        <activity
            android:name="com.example.esycab.JoinInActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar"
            android:windowSoftInputMode="adjustUnspecified|stateHidden" >
        </activity>
        <!-- 订单详情 -->
        <activity
            android:name="com.example.esycab.OrderDetail"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar"
            android:windowSoftInputMode="adjustUnspecified|stateHidden" >
        </activity>
        <!-- 婚车 -->
        <activity
            android:name="com.example.esycab.WeddingCarActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar"
            android:windowSoftInputMode="adjustUnspecified|stateHidden" >
        </activity>
        <!-- 我的信息 -->
        <activity
            android:name="com.example.esycab.MyInfomationActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar"
            android:windowSoftInputMode="adjustUnspecified|stateHidden" >
        </activity>
        <activity
            android:name="com.example.esycab.CanJu_Activity"
            android:label="@string/title_activity_can_ju_" >
        </activity>
        <activity
            android:name="com.example.esycab.SheYingShi_XQActivity"
            android:label="@string/title_activity_she_ying_shi__xq" >
        </activity>
        <activity
            android:name="com.example.esycab.SheXiangShi_XQActivity"
            android:label="@string/title_activity_she_xiang_shi__xq" >
        </activity>
        <activity
            android:name="com.example.esycab.HunQing_TaoCanXiangQingActivity"
            android:label="@string/title_activity_she_xiang_shi__xq" >
        </activity>
        <activity
            android:name="com.example.esycab.HunQing_TaoCan_XiangQingActivity"
            android:label="@string/title_activity_she_xiang_shi__xq" >
        </activity>
        <activity
            android:name="com.example.esycab.SiYi_XQActivity"
            android:label="@string/title_activity_si_yi__xq" >
        </activity>
        <activity
            android:name="com.example.esycab.HuaZhuangShi_XQActivity"
            android:label="@string/title_activity_hua_zhuang_shi__xq" >
        </activity>
        <activity
            android:name="com.example.esycab.ChuShi_GeRenXQActivity"
            android:label="@string/title_activity_chu_shi__ge_ren_xq" >
        </activity>
        <activity
            android:name="com.example.esycab.ChuShi_TuanDuiXQActivity"
            android:label="@string/title_activity_chu_shi__tuan_dui_xq" >
        </activity>
        <activity
            android:name="com.example.esycab.GenXingActivity"
            android:label="@string/title_activity_gen_xing" >
        </activity>
        <activity
            android:name="com.example.esycab.QingDian_LiYiActivity"
            android:label="@string/title_activity_qing_dian__li_yi" >
        </activity>
        <activity
            android:name="com.example.esycab.ShiRen_DingZhiActivity"
            android:label="@string/title_activity_shi_ren__ding_zhi" >
        </activity>
        <activity
            android:name="com.example.esycab.TaoCan_LieBiaoActivity"
            android:label="@string/title_activity_tao_can__lie_biao" >
        </activity>
        <activity
            android:name="com.example.esycab.JiaMengActivity"
            android:label="@string/title_activity_jia_meng" >
        </activity>
        <activity
            android:name="com.example.esycab.GuanYuWoMenActivity"
            android:label="@string/title_activity_guan_yu_wo_men" >
        </activity>
        <activity
            android:name="com.example.esycab.JianChaGengXinActivity"
            android:label="@string/title_activity_jian_cha_geng_xin" >
        </activity>
        <activity
            android:name="com.example.esycab.YiJianFanKuiActivity"
            android:label="@string/title_activity_yi_jian_fan_kui" >
        </activity>
        <activity
            android:name="com.example.esycab.ZhiFuBangZhuActivity"
            android:label="@string/title_activity_zhi_fu_bang_zhu" >
        </activity>
        <activity
            android:name="com.example.esycab.WoDeDingDanActivity"
            android:label="@string/title_activity_wo_de_ding_dan" >
        </activity>
        <activity
            android:name="com.example.esycab.ChuShiJiaGeBiaoActivity"
            android:label="@string/title_activity_chu_shi_jia_ge_biao" >
        </activity>
        <activity
            android:name="com.example.esycab.YuDingQueRengActivity"
            android:label="@string/title_activity_yu_ding_que_reng" >
        </activity>
        <activity
            android:name="com.example.esycab.HunCheActivity"
            android:label="@string/title_activity_hun_che" >
        </activity>
        <activity
            android:name="com.example.esycab.HunChe_GongSiJianJieActivity"
            android:label="@string/title_activity_hun_che__gong_si_jian_jie" >
        </activity>
        <activity
            android:name="com.example.esycab.HunChe_TuiJianCheDuiActivity"
            android:label="@string/title_activity_hun_che__tui_jian_che_dui" >
        </activity>
        <activity
            android:name="com.example.esycab.HunChe_HunCheZhuangShiActivity"
            android:label="@string/title_activity_hun_che__hun_che_zhuang_shi" >
        </activity>
        <activity
            android:name="com.example.esycab.WoDeQingTieActivity"
            android:label="@string/title_activity_wo_de_qing_tie" >
        </activity>
        <activity
            android:name="com.example.esycab.WoDeZhiFuActivity"
            android:label="@string/title_activity_wo_de_zhi_fu" >
        </activity>
        <activity
            android:name="com.example.esycab.QingTieXinXiActivity"
            android:label="@string/title_activity_qing_tie_xin_xi" >
        </activity>
        <activity
            android:name="com.example.esycab.QingTiePreviewActivity"
            android:label="@string/title_activity_qing_tie_preview"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen" >
        </activity>
        <activity
            android:name="com.example.esycab.QingTiePreviewShortActivity"
            android:label="@string/title_activity_qing_tie_previewshort"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen" >
        </activity>
        <activity
            android:name="com.example.esycab.JiBenXingXiActivity"
            android:label="@string/title_activity_ji_ben_xing_xi" >
        </activity>
        <activity
            android:name="com.example.esycab.FeastSetTaocanActivity"
            android:label="@string/title_activity_feast_tao_can" >
        </activity>
        <activity
            android:name="com.example.esycab.CanjuItenActivity"
            android:label="@string/title_activity_canju_item" >
        </activity>
        <activity
            android:name="com.example.esycab.ChushiXQActivity"
            android:label="@string/title_activity_chushi_xinxi" >
        </activity>
    </application>

</manifest>